$gutter: 2.2222vw; // 32px @ 1440
$gutter-large: 2rem; //32px
$container-padding-sm: 6.4vw; //24px/375px
$container-padding: 5vw;
$container-padding-lg: 4.5rem;

$container-width: 90rem; //1440px

$container-width-narrow: calc(36rem + #{$container-padding * 2}); // 720px + container-padding * 2
$column-width: 100%/12;


