$margin-xsmall: 0.25rem; //4px
$margin-small: 0.5rem; //8px
$margin-base: 1rem; //16px
$margin-smedium: 1.5rem; //24px;
$margin-medium: 2rem; //32px
$margin-mlarge: 3rem; //48px
$margin-large: 4rem; //64px
$margin-xlarge: 6rem; //96px
$margin-xxlarge: 7rem; //112px


$component-padding-small: $margin-xlarge;
$component-padding-medium: 8rem; //128px;
$component-padding-large: 10rem; //160px;