$font-family-sans-serif: futura-pt, sans-serif;
$font-family-serif: Georgia, serif;
$font-family-base: $font-family-sans-serif;
$font-family-heading: futura-pt-bold,Georgia;
$font-family-button: $font-family-sans-serif;

$line-height-base: 1.5rem;
$font-weight-bold: 700;
$font-weight-base: 400;

