$color-primary: #1a4939;
$color-primary-light: #2F717C;
$color-primary-dark: darken($color-primary,5%);
$color-action: #d23838;
$color-action-light: #fdd106;
$color-action-dark: darken($color-action, 5%);
$color-secondary: #577D91;
$color-secondary-dark: darken($color-secondary, 5%);
$color-warning: $color-action;
$color-info: $color-secondary;

$color-body-bg:  #dde5ea;
$color-bg-secondary: #FED103;


// Grayscale colors
$color-white: #fff;
$color-lightest: #FFFDFA;
$color-lighter: #F7F4F0;
$color-light: #D9D6CF;
$color-medium: #8C8A7E;
$color-dark: #595755;
$color-darker: #2A2928;
$color-darkest: #181817;
$color-black: #000;
$color-brown: #372f2d;








