@mixin font-base-responsive($sizeSmall: $font-size-base, $sizeLarge: $font-size-medium) {
    font-size: $sizeSmall;
    line-height: 1.5em;

    @media (min-width: $screen-sm) {
        font-size: $sizeLarge;
    }
}


@mixin heading-scalable($num: 1) {
    @if $num == 1 {
        font-size: 9.6vw; //36px @ 375px

        @media (min-width: $screen-xs) {
            font-size: 6.2vw;
        }

        @media (min-width: $screen-sm) {
            font-size: 5.2vw;
        }

        @media (min-width: $screen-md) {
            font-size: 4.4vw; //64px @ 1440px
        }

        @media (min-width: $screen-laptop) {
            font-size: 4rem; //64px
        }


    } @else if $num == 2 {
        font-size: 6.4vw; //24px @ 375px
        @media (min-width: $screen-sm) {
            font-size: 2.5vw;
        }

    } @else if $num == 3 {
        font-size: 4.8vw; // 18/375
        @media (min-width: $screen-sm) {
            font-size: 2.2222vw; //32/1440
        }

        @media (min-width: $screen-laptop) {
            font-size: 2rem; //32px
        }

    } @else if $num == 4 {
        font-size: 3.733333333vw; // 14/375

        @media (min-width: $screen-xs) {
            font-size: 3vw;
        }


        @media (min-width: $screen-sm) {
            font-size: 2vw;
        }

        @media (min-width: $screen-md) {
            font-size: 1.527777778vw; //22/1440
        }


        @media (min-width: $screen-laptop) {
            font-size: 1.375rem; //22px
        }

    } @else if $num == 5 {
        font-size: 3.733333333vw; // 14/375
        @media (min-width: $screen-md) {
            font-size: 1.11111vw; // 16/1440
        }
    }
}

@mixin font-label($size: $font-size-xsmall) {
    font-size: $size;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: $font-weight-bold;
    line-height: 1.2em;
    letter-spacing: .0833em;
}
